<header focusOnNavigation class="header-background" aria-label="Get started" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ngx EditorJs</h1>
      <h2>A Custom Themeable Angular Material Component</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button (click)="getValue()">Save Blocks</a>
    </div>
  </div>
</header>
<main class="home-main">
  
  <mat-card appearance="outlined">
    <!-- <h2>Editor Js: <button mat-button (click)="getValue()">Get Value</button></h2> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <ngx-editorjs [config]="config" [data]="data" (ready)="onReady($event)" (change)="onChange($event)"></ngx-editorjs> -->
    <ngx-editorjs
      [inputData]="inputData"
      [requestValue]="requestValue"
      (valueRequested)="valueRequested($event)"></ngx-editorjs>
  </mat-card>

  <mat-card appearance="outlined">
    <ngx-editorjs-client [inputData]="inputData"></ngx-editorjs-client>
  </mat-card>
</main>
